<p-confirmDialog header="Bestätigung" acceptLabel="Ja" rejectLabel="Nein"></p-confirmDialog>

<div class="card">
    <p-treeTable [value]="allCatalogues" [autoLayout]="true" selectionMode="single" (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)">
        <ng-template pTemplate="caption">
            Katalogverwaltung
            <button pButton (click)="createCatalogue()" icon="pi pi-plus" style="float: right; margin-top: -5px; margin-left: 3px; margin-right: 13px"></button>
            <button pButton (click)="loadCatalogues()" icon="pi pi-undo" style="float: right; margin-top: -5px; margin-right: 3px"></button>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>HRID</th>
                <th style="width: 50%">Beschreibung</th>
                <th style="width: 127px">Bearbeiten</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
            <tr [ttSelectableRow]="rowNode">
                <td>
                    <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                    {{rowData.name}}
                </td>
                <td>{{rowData.hrid}}</td>
                <td>{{rowData.description}}</td>
                <td *ngIf="rowNode.node.children" style="text-align: center">
                    <button pButton (click)="addEntry(rowNode.node.data)" style="margin-right: 3px;" icon="pi pi-plus" class="ui-button-success"></button>
                    <button pButton (click)="updateCatalogue(rowNode.node.data)" style="margin-left: 3px; margin-right: 3px;" icon="pi pi-pencil" class="ui-button-info"></button>
                    <button pButton (click)="deleteCatalogue(rowNode.node.data.id)" style="margin-left: 3px;" icon="pi pi-trash" class="ui-button-info"></button>
                    
                </td>
                <td *ngIf="!rowNode.node.children" style="text-align: center">
                    <button pButton (click)="updateCatalogueEntry(rowNode.node.data, rowNode.node.parent.data)" style="margin-right: 3px;" icon="pi pi-pencil" class="ui-button-info"></button>
                    <button pButton (click)="deleteEntry(rowNode.node.parent.data.id, rowNode.node.data.id)" style="margin-left: 3px;" icon="pi pi-trash" class="ui-button-info"></button>
                </td>
            </tr>
        </ng-template>
    </p-treeTable>
</div>

<div class="card" *ngIf="catalogueSelected || catalogueEntrySelected">
    <app-dynamic-table-attachments *ngIf="catalogueSelected" configName="Catalogue" [entryId]="selectedEntryId"></app-dynamic-table-attachments>
    <app-dynamic-table-attachments *ngIf="catalogueEntrySelected" configName="CatalogueEntry" [entryId]="selectedEntryId"></app-dynamic-table-attachments>
</div>