<!DOCTYPE html>
<html>
  <head>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
  </head>

  <body class="login-body">
    <!-- <div class="login-topbar">
      <a href="#" class="logo">
        <img src="assets/layout/images/logo.png" alt="california-layout"/>
      </a>
    </div> -->

<!-- Alte Variante
      
      <img class="login-image" src="assets/layout/images/image-access.png" alt="california-layout" />

    <div class="login-panel ui-fluid">
      <div class="ui-g">
        <div class="ui-g-12 ui-lg-12 ui-md-12 logo-container">
          <span class="login-summary">Willkommen in der {{companyName}} - {{appName}} Anwendung!</span>
          <div class="login-detail">
            <span>Bitte melden Sie sich zunächst an.</span>
          </div>
        </div>
        <div class="ui-g-12 ui-lg-12 ui-md-12">
          <p-messages [value]="msgs"></p-messages>
        </div>
        <form *ngIf="!enforcePasswdChange else changePasswordForm;" #loginForm="ngForm" (ngSubmit)="login(username.value, password.value)">
          <div class="ui-g-12 ui-lg-12 ui-md-12">
            <div class="input-wrapper">
              <label>Benutzername</label>
              <input #username [disabled]="loginDisabled" name="username" id="username" [ngClass]="{'ng-dirty': loginFailed, 'ng-invalid': loginFailed}" type="text" autocomplete="off" placeholder="Benutzername" class="ui-inputtext ui-widget">
            </div>
          </div>
          <div class="ui-g-12 ui-lg-12 ui-md-12">
            <div class="input-wrapper">
              <label>Passwort</label>
              <input #password [disabled]="loginDisabled" name="password" id="password" [ngClass]="{'ng-dirty': loginFailed, 'ng-invalid': loginFailed}" type="password" autocomplete="off" placeholder="Passwort" class="ui-inputtext ui-widget">
            </div>
          </div>
          <div class="ui-g-12 ui-lg-12 ui-md-12 button-container">
            <p-button [disabled]="loginDisabled" type="submit" id="loginBt" name="loginBt" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" label="Anmelden"></p-button>
            <a *ngIf="!loginDisabled" href="#" style="float: right">Passwort vergessen?</a>
          </div>
        </form>

        <ng-template #changePasswordForm>
          <form (ngSubmit)="changePassword()"  #passwordForm="ngForm" class="ui-g ui-fluid">
            <div class="ui-g-12 ui-md-12 ui-md-12 input-wrapper" style="padding-bottom: 9px;">
              <label>Altes Passwort</label>
              <input name="oldpass" [required]="true" [(ngModel)]="oldpass" type="password" autocomplete="off" placeholder="Altes Passwort" class="ui-inputtext ui-widget" pInputText>
            </div>

            <div class="ui-g-12 ui-md-12 ui-md-12 input-wrapper" style="padding-bottom: 5px;">
              <label>Neues Passwort</label>
              <app-password-input name="newpass" [(ngModel)]="newpass" placeholder="Neues Passwort" [required]="true"></app-password-input>
            </div>

            <div class="ui-g-12 ui-md-12 ui-md-12 input-wrapper">
              <label>Passwort wiederholen</label>
              <input name="repeatpass" [(ngModel)]="repeatpass" type="password" [required]="true" autocomplete="off" placeholder="Passwort wiederholen" class="ui-inputtext ui-widget" pInputText>
            </div>
    
            <button type="submit" label="Speichern" [disabled]="!passwordForm.valid" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" icon="fa fa-check" pButton></button>
          </form>
        </ng-template>

      </div>
    </div>

    <div class="login-detail" style="margin-left: 100px; margin-top: 15px">
      <span>{{appDetails}}</span>
    </div>
  </body>
</html> 

-->


<!-- Variante 1) Edles schwarz -->
<div style="position:fixed;border-top: 2px solid white;border-left: 2px solid white; border-bottom: 2px solid white;
            height: 800px; top: 50%; margin-top: -400px;  /*set to a negative number 1/2 of your height*/
            width: 718px; left: 50%; margin-left: -718px; /*set to a negative number 1/2 of your width*/">
  <div>
    <img src="assets/layout/images/login_bg_4_neu.png" width="718" height="796" alt="california-layout"/>
  </div>
</div>

<div style="position:fixed;  background:black;border-top: 2px solid white;border-right: 2px solid white;border-bottom: 2px solid white;
            height: 800px; top: 50%; margin-top: -400px;  /*set to a negative number 1/2 of your height*/
            width: 718px; left: 50%; margin-left: 0px /*set to a negative number 1/2 of your width*/">
            <div style="margin-top: 125px; text-align:center" >
              <img src="assets/layout/images/logo.png" width="244" height="64" alt="california-layout"/>
            </div>
            <div style="margin-top: 50px; text-align:center" >
              <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; color: white">Willkommen bei Jmeleon!</h2>
            </div>

            <div style="margin-left: 75px" class="login-panel ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12 ui-lg-12 ui-md-12">
                  <p-messages [value]="msgs"></p-messages>
                </div>
                <form *ngIf="!enforcePasswdChange else changePasswordForm;" #loginForm="ngForm" (ngSubmit)="login(username.value, password.value)">
                  <div class="ui-g-12 ui-lg-12 ui-md-12">
                    <div class="input-wrapper">
                      <label style="color: white">Benutzername</label>
                      <input #username [disabled]="loginDisabled" name="username" id="username" [ngClass]="{'ng-dirty': loginFailed, 'ng-invalid': loginFailed}" type="text" autocomplete="off" placeholder="Benutzername" class="ui-inputtext ui-widget">
                    </div>
                  </div>
                  <div class="ui-g-12 ui-lg-12 ui-md-12">
                    <div class="input-wrapper">
                      <label style="color: white">Passwort</label>
                      <input #password [disabled]="loginDisabled" name="password" id="password" [ngClass]="{'ng-dirty': loginFailed, 'ng-invalid': loginFailed}" type="password" autocomplete="off" placeholder="Passwort" class="ui-inputtext ui-widget">
                    </div>
                  </div>
                  <div class="ui-g-12 ui-lg-12 ui-md-12 button-container">
                    <p-button [disabled]="loginDisabled" type="submit" id="loginBt" name="loginBt" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" label="Anmelden"></p-button>
                    <!-- <a *ngIf="!loginDisabled" href="#" style="float: right">Passwort vergessen?</a> -->
                  </div>
                </form>
        
                <ng-template #changePasswordForm>
                  <form (ngSubmit)="changePassword()"  #passwordForm="ngForm" class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12 ui-md-12 input-wrapper" style="padding-bottom: 9px;">
                      <label style="color:white">Altes Passwort</label>
                      <input name="oldpass" [required]="true" [(ngModel)]="oldpass" type="password" autocomplete="off" placeholder="Altes Passwort" class="ui-inputtext ui-widget" pInputText>
                    </div>

                    <div class="ui-g-12 ui-md-12 ui-md-12 input-wrapper" style="padding-bottom: 5px;">
                      <label style="color:white">Neues Passwort</label>
                      <app-password-input name="newpass" [(ngModel)]="newpass" placeholder="Neues Passwort" [required]="true"></app-password-input>
                    </div>

                    <div class="ui-g-12 ui-md-12 ui-md-12 input-wrapper">
                      <label style="color:white">Passwort wiederholen</label>
                      <input name="repeatpass" [(ngModel)]="repeatpass" type="password" [required]="true" autocomplete="off" placeholder="Passwort wiederholen" class="ui-inputtext ui-widget" pInputText>
                    </div>
            
                    <button type="submit" label="Speichern" [disabled]="!passwordForm.valid" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" icon="fa fa-check" pButton></button>
                  </form>
                </ng-template>
        
              </div>
            </div>

</div>


<!-- Variante 2) Der Vulkan 

<div style="position:fixed;border-top: 1px solid white;border-left: 1px solid white; border-bottom: 1px solid white;
            height: 800px; top: 50%; margin-top: -400px;  /*set to a negative number 1/2 of your height*/
            width: 800px; left: 50%; margin-left: -800px; /*set to a negative number 1/2 of your width*/">
  <div>
    <img src="assets/layout/images/login_bg_1.png" width="799" height="798" alt="california-layout"/>
  </div>
</div>

<div style="position:fixed;  background:white;border-top: 1px solid white;border-right: 1px solid white;border-bottom: 1px solid white;
            height: 800px; top: 50%; margin-top: -400px;  /*set to a negative number 1/2 of your height*/
            width: 800px; left: 50%;  /*set to a negative number 1/2 of your width*/">
            <div style="margin-top: 125px; text-align:center" >
              <img src="assets/layout/images/logo_black.png" width="244" height="64" alt="california-layout"/>
            </div>
            <div style="margin-top: 50px; text-align:center" >
              <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Willkommen bei Jmeleon!</h2>
            </div>

            <div style="margin-left: 100px" class="login-panel ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12 ui-lg-12 ui-md-12">
                  <p-messages [value]="msgs"></p-messages>
                </div>
                <form *ngIf="!enforcePasswdChange else changePasswordForm;" #loginForm="ngForm" (ngSubmit)="login(username.value, password.value)">
                  <div class="ui-g-12 ui-lg-12 ui-md-12">
                    <div class="input-wrapper">
                      <label>Benutzername</label>
                      <input #username [disabled]="loginDisabled" name="username" id="username" [ngClass]="{'ng-dirty': loginFailed, 'ng-invalid': loginFailed}" type="text" autocomplete="off" placeholder="Benutzername" class="ui-inputtext ui-widget">
                    </div>
                  </div>
                  <div class="ui-g-12 ui-lg-12 ui-md-12">
                    <div class="input-wrapper">
                      <label>Passwort</label>
                      <input #password [disabled]="loginDisabled" name="password" id="password" [ngClass]="{'ng-dirty': loginFailed, 'ng-invalid': loginFailed}" type="password" autocomplete="off" placeholder="Passwort" class="ui-inputtext ui-widget">
                    </div>
                  </div>
                  <div class="ui-g-12 ui-lg-12 ui-md-12 button-container">
                    <p-button [disabled]="loginDisabled" type="submit" id="loginBt" name="loginBt" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" label="Anmelden"></p-button>
                    <a *ngIf="!loginDisabled" href="#" style="float: right">Passwort vergessen?</a>
                  </div>
                </form>
        
                <ng-template #changePasswordForm>
                  <form (ngSubmit)="changePassword()"  #passwordForm="ngForm" class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12 ui-md-12 input-wrapper" style="padding-bottom: 9px;">
                      <label>Altes Passwort</label>
                      <input name="oldpass" [required]="true" [(ngModel)]="oldpass" type="password" autocomplete="off" placeholder="Altes Passwort" class="ui-inputtext ui-widget" pInputText>
                    </div>

                    <div class="ui-g-12 ui-md-12 ui-md-12 input-wrapper" style="padding-bottom: 5px;">
                      <label>Neues Passwort</label>
                      <app-password-input name="newpass" [(ngModel)]="newpass" placeholder="Neues Passwort" [required]="true"></app-password-input>
                    </div>

                    <div class="ui-g-12 ui-md-12 ui-md-12 input-wrapper">
                      <label>Passwort wiederholen</label>
                      <input name="repeatpass" [(ngModel)]="repeatpass" type="password" [required]="true" autocomplete="off" placeholder="Passwort wiederholen" class="ui-inputtext ui-widget" pInputText>
                    </div>
            
                    <button type="submit" label="Speichern" [disabled]="!passwordForm.valid" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" icon="fa fa-check" pButton></button>
                  </form>
                </ng-template>
        
              </div>
            </div>
</div>
-->


<!-- Variante 3) Nepal 

<div style="position:fixed;border-top: 1px solid white;border-left: 1px solid white; border-bottom: 1px solid white;
            height: 800px; top: 50%; margin-top: -400px;  /*set to a negative number 1/2 of your height*/
            width: 800px; left: 50%; margin-left: -800px; /*set to a negative number 1/2 of your width*/">
  <div>
    <img src="assets/layout/images/login_bg_3.png" width="799" height="798" alt="california-layout"/>
  </div>
</div>

<div style="position:fixed;  background:white;border-top: 1px solid white;border-right: 1px solid white;border-bottom: 1px solid white;
            height: 800px; top: 50%; margin-top: -400px;  /*set to a negative number 1/2 of your height*/
            width: 800px; left: 50%;  /*set to a negative number 1/2 of your width*/">
            <div style="margin-top: 125px; text-align:center" >
              <img src="assets/layout/images/logo_black.png" width="244" height="64" alt="california-layout"/>
            </div>
            <div style="margin-top: 50px; text-align:center" >
              <h2 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Willkommen bei Jmeleon!</h2>
            </div>

            <div style="margin-left: 100px" class="login-panel ui-fluid">
              <div class="ui-g">
                <div class="ui-g-12 ui-lg-12 ui-md-12">
                  <p-messages [value]="msgs"></p-messages>
                </div>
                <form *ngIf="!enforcePasswdChange else changePasswordForm;" #loginForm="ngForm" (ngSubmit)="login(username.value, password.value)">
                  <div class="ui-g-12 ui-lg-12 ui-md-12">
                    <div class="input-wrapper">
                      <label>Benutzername</label>
                      <input #username [disabled]="loginDisabled" name="username" id="username" [ngClass]="{'ng-dirty': loginFailed, 'ng-invalid': loginFailed}" type="text" autocomplete="off" placeholder="Benutzername" class="ui-inputtext ui-widget">
                    </div>
                  </div>
                  <div class="ui-g-12 ui-lg-12 ui-md-12">
                    <div class="input-wrapper">
                      <label>Passwort</label>
                      <input #password [disabled]="loginDisabled" name="password" id="password" [ngClass]="{'ng-dirty': loginFailed, 'ng-invalid': loginFailed}" type="password" autocomplete="off" placeholder="Passwort" class="ui-inputtext ui-widget">
                    </div>
                  </div>
                  <div class="ui-g-12 ui-lg-12 ui-md-12 button-container">
                    <p-button [disabled]="loginDisabled" type="submit" id="loginBt" name="loginBt" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" label="Anmelden"></p-button>
                    <a *ngIf="!loginDisabled" href="#" style="float: right">Passwort vergessen?</a>
                  </div>
                </form>
        
                <ng-template #changePasswordForm>
                  <form (ngSubmit)="changePassword()"  #passwordForm="ngForm" class="ui-g ui-fluid">
                    <div class="ui-g-12 ui-md-12 ui-md-12 input-wrapper" style="padding-bottom: 9px;">
                      <label>Altes Passwort</label>
                      <input name="oldpass" [required]="true" [(ngModel)]="oldpass" type="password" autocomplete="off" placeholder="Altes Passwort" class="ui-inputtext ui-widget" pInputText>
                    </div>

                    <div class="ui-g-12 ui-md-12 ui-md-12 input-wrapper" style="padding-bottom: 5px;">
                      <label>Neues Passwort</label>
                      <app-password-input name="newpass" [(ngModel)]="newpass" placeholder="Neues Passwort" [required]="true"></app-password-input>
                    </div>

                    <div class="ui-g-12 ui-md-12 ui-md-12 input-wrapper">
                      <label>Passwort wiederholen</label>
                      <input name="repeatpass" [(ngModel)]="repeatpass" type="password" [required]="true" autocomplete="off" placeholder="Passwort wiederholen" class="ui-inputtext ui-widget" pInputText>
                    </div>
            
                    <button type="submit" label="Speichern" [disabled]="!passwordForm.valid" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" icon="fa fa-check" pButton></button>
                  </form>
                </ng-template>
        
              </div>
            </div>
</div>

-->