<ejs-schedule [rowAutoHeight]="true" [showQuickInfo]="true" [eventSettings]="availabilitySchedulerObject"
    [currentView]="initialView" [group]="groupData" [allowDragAndDrop]="true" [allowResizing]="true" locale='de'
    (eventRendered)="onEventRendered($event)" (resizeStop)="updateSchedulerEventInterval($event.data)"
    (dragStop)="updateSchedulerEventInterval($event.data)">
    <e-views>
        <e-view option='TimelineDay' startHour='06:00' endHour='18:00' [timeScale]='{ enable: true, slotCount: 1 }'>
        </e-view>
        <e-view option='TimelineWorkWeek' startHour='06:00' endHour='18:00'
            [timeScale]='{ enable: true, slotCount: 1 }'> </e-view>
        <e-view option='TimelineMonth'></e-view>
        <e-view option='MonthAgenda'></e-view>
    </e-views>
    <e-resources>
        <e-resource [dataSource]="resourceDataSource" field="ResourceID" title="Mitarbeiter und Ressourcen"
            name="Resources" textField="Name" idField="Id">
        </e-resource>
    </e-resources>
</ejs-schedule>