<p-confirmDialog header="Bestätigung" acceptLabel="Ja" rejectLabel="Nein"></p-confirmDialog>
<p-contextMenu #availCM (onHide)="closeContextMenu()"></p-contextMenu>
<div class="resizableBox eventScheduler" id=0 mwlResizable [style.height.px]="boxHeight" [validateResize]="validate"
    [enableGhostResize]="false" [resizeSnapGrid]="{ left: 1, right: 1 }" (resizeEnd)="onResizeEnd($event, 0)"
    (resizing)="onResizing($event, 0)">

    <ejs-schedule #scheduleObj [height]="schedulerHeight" [rowAutoHeight]=" true" [showQuickInfo]="true"
        [eventSettings]="availabilitySchedulerObject" [currentView]="initialView" [group]="groupData"
        [allowDragAndDrop]="true" [allowResizing]="true" locale='de' (eventRendered)="onEventRendered($event)"
        (resizeStop)="updateAvailabilityInterval($event)" (dragStop)="updateAvailabilityInterval($event)"
        (popupOpen)="onPopupOpen($event)" (cellClick)="addAvailability($event)" (navigating)="onNavigate($event)">

        <ng-template #eventSettingsTemplate let-data>
            <div (contextmenu)="openContextMenu(availCM, $event, data)" style="width: 100%;">
                <div>
                    <div class="e-subject">{{data.Subject}}</div>
                    <div class="e-time">{{data.TimeFrameStr}}</div>
                </div>
            </div>
        </ng-template>

        <e-header-rows>
            <e-header-row option='Week'>
                <ng-template #template let-data>
                    <span>KW&nbsp;{{data.date | date:'ww'}}</span>
                </ng-template>
            </e-header-row>
            <e-header-row option='Date'></e-header-row>
            <e-header-row option='Hour'></e-header-row>
        </e-header-rows>

        <e-views>
            <e-view option='TimelineDay' startHour='06:00' endHour='18:00' [timeScale]='{ enable: true, slotCount: 1 }'>
            </e-view>
            <e-view option='TimelineWorkWeek' startHour='06:00' endHour='18:00'
                [timeScale]='{ enable: true, slotCount: 1 }'> </e-view>
            <e-view option='TimelineMonth'></e-view>
        </e-views>
        <e-resources>
            <e-resource [dataSource]="resourceDataSource" field="ResourceID" title="Mitarbeiter und Ressourcen"
                name="Resources" textField="Name" idField="Id">
            </e-resource>
        </e-resources>
    </ejs-schedule>
    <div class="resize-handle" mwlResizeHandle [resizeEdges]="{ bottom: true }"><i class="pi pi-ellipsis-h"></i></div>
</div>