<p-confirmDialog header="Neuer Eintrag" acceptLabel="Ja" rejectLabel="Nein"></p-confirmDialog>
<div *ngIf="configuration" class="ui-g-12" style="padding:0px">
  <div [ngClass]="{'card': tableData.showHeadline, 'card-w-title': tableData.showHeadline }">
    <h1 *ngIf="tableData.showHeadline">{{tableData.tableName}}</h1>
    <p-table #dt [columns]="fields" [value]="entityData.data" selectionMode="single" dataKey="id" [(selection)]="selectedEntry" (onRowSelect)="rowSelect()" (onRowUnselect)="rowUnselect()"
      [paginator]="tableData.pagination" [(rows)]="configuration.rowsPerPage" [rowsPerPageOptions]="[10,25,50]" [responsive]="true" [lazy]="true" (onLazyLoad)="loadLazy($event)" [loading]="loading"
      [totalRecords]="entityData.count" [scrollable]="tableData.scrollable" [scrollHeight]="tableData.scrollHeight" styleClass="ui-table-customers">
      <ng-template *ngIf="tableData.showHeader" pTemplate="caption">
        {{configuration.displayName}}
        <button pButton (click)="showAddEntityDialog()" icon="pi pi-plus" style="float: right; margin-top: -5px;"></button>
        <button pButton (click)="refreshTableContents()" icon="pi pi-undo" style="float: right; margin-top: -5px; margin-right: 5px;"></button>
      </ng-template>
      <!-- Table Headers -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [style.width]="col.width" [ngSwitch]="col.filterType" style="padding: 0px;">
            <div style="display:flex; flex-direction: column;">            
              <!-- Header titles and sorting icon-->
              <div [pSortableColumn]="col.sortable ? col.field : null" style="margin: 0px">
                <p style="margin: 0px; padding: 5px" style="word-wrap: break-word;">
                  {{col.header}}
                  <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
                </p>
                <div *ngIf="filtersInTable" style="height: 36px; width: 100%;"></div>
              </div>

              <!-- Filters -->
              <div *ngIf="col.filterType !== 'none'" style="margin: auto; margin-top: -32px; height: 32px; width: 80%;">
                <input *ngSwitchCase="'text'" pInputText type="text" style="width:100%; max-width: 200px;" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <input *ngSwitchCase="'integer'" type="number" pInputText pKeyFilter="int" style="width:100%; max-width: 200px;" (input)="dt.filter($event.target.value, col.field, 'equals')">
                <p-dropdown *ngSwitchCase="'dropdown'" [options]="col.options" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                <p-multiSelect *ngSwitchCase="'multiSelect'" [options]="col.options" [filter]='col.type === "CatalogueEntry"' [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'in')" [defaultLabel]="'Auswählen..'" [selectedItemsLabel]="'{0} Element(e)'">
                  <ng-template let-item let-i="index" pTemplate="item">
                    <span *ngIf="item.label !== '__icon__';else displayIcon2">{{item.label}}</span>
                    <ng-template #displayIcon2>
                      <i [class]="item.value.icon" [ngStyle]="{'color': item.value.color}" style="font-size: 2em; vertical-align: middle;"></i>
                    </ng-template>
                  </ng-template>
                </p-multiSelect>
              </div>

            </div>
          </th>
          
          <th *ngIf="showButtons" style="width:90px">Bearbeiten</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <!-- Processing and displaying the data -->
        <tr [pSelectableRow]="rowData" (dblclick)="doubleClickTableRow(rowData)">
          <td *ngFor="let col of columns" [style.width]="col.width" style="word-wrap: break-word;">
            <span class="ui-column-title">{{col.header}}</span>
              <div *ngIf="col.type !== 'Icon';else displayIcon">{{processData(rowData[col.field], col)}}</div>
              <ng-template #displayIcon><i [class]="rowData[col.field]?.icon" [ngStyle]="{'color': rowData[col.field]?.color}" style="font-size: 2em;"></i></ng-template>
          </td>
          <!-- Crud Buttons -->
          <td *ngIf="showButtons" style="text-align: center; width: 90px;">
            <code *ngIf="configuration?.type !== 'FileAttachment'" class="html">
              <ng-template [appPermissionCheck]="root.dto.$dtoType.write" [appPermissionCheckVarDict]="{'$dtoType':configuration.type}">
                <button pButton type="button" icon="pi pi-pencil" class="crudButton" pTooltip="Bearbeiten" (click)="updateEntity(rowData)"></button>
              </ng-template>
            </code>

            <code *ngIf="configuration?.type !== 'FileAttachment'" class="html">
              <ng-template [appPermissionCheck]="root.dto.$dtoType.delete" [appPermissionCheckVarDict]="{'$dtoType':configuration.type}">
                <button pButton type="button" icon="pi pi-trash" class="crudButton" pTooltip="Löschen" (click)="deleteEntity(rowData)"></button>
              </ng-template>
            </code>

            <code *ngIf="configuration?.type === 'FileAttachment'" class="html">
              <ng-template [appPermissionCheck]="root.dto.FileAttachment.download">
                <button  pButton type="button" icon="fa fa-download" class="crudButton" fileSaver
                pTooltip="Herunterladen" [method]="'GET'" [fileName]="rowData['fileName']" [url]="downloadUrl(rowData['id'])"></button>
              </ng-template>
            </code>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <app-dynamic-table-attachments *ngIf="tableData.showAttachments" [configName]="configuration.type" [entryId]="selectedEntryId"></app-dynamic-table-attachments>

</div>
