<div *ngIf="entryId !== undefined && entryId !== null && !isEmpty" style="padding: 0px" class="card">
  <p-tabView>
    <!-- Display group relations if available -->
    <ng-template ngFor let-group [ngForOf]="configuration?.groups">
      <p-tabPanel *ngIf="!this.excludedPanels?.includes(group)" [header]="(getGroupHeader(group) | async).displayName"
        [selected]="this.selectedPanel === group">
        <app-entity-group-relation [ownerType]="configName" [ownerId]="entryId" [relation]="group">
        </app-entity-group-relation>
      </p-tabPanel>
    </ng-template>


    <div *ngIf="!this.excludedPanels?.includes('LogEntries')">
      <p-tabPanel *ngIf="this.configuration?.components?.includes('LogEntries')" header="Logbuch"
        [selected]="this.selectedPanel === 'LogEntries'">
        <app-entity-logs [ownerType]="configName" [ownerId]="entryId"></app-entity-logs>
      </p-tabPanel>
    </div>

    <div *ngIf="!this.excludedPanels?.includes('Notes')">
      <p-tabPanel *ngIf="this.configuration?.components?.includes('Notes')" header="Notizen"
        [selected]="this.selectedPanel === 'Notes'">
        <app-entity-notes [ownerType]="configName" [ownerId]="entryId"></app-entity-notes>
      </p-tabPanel>
    </div>

    <ng-template ngFor let-attrGroup [ngForOf]="configuration?.attributeGroups">
      <p-tabPanel *ngIf="!this.excludedPanels?.includes(attrGroup)" [header]="attrGroup.name"
        [selected]="this.selectedPanel === attrGroup">
        <app-entity-attributes [ownerType]="configName" [ownerId]="entryId" [attrGroup]="attrGroup">
        </app-entity-attributes>
      </p-tabPanel>
    </ng-template>

    <div *ngIf="!this.excludedPanels?.includes('Attributes')">
      <p-tabPanel *ngIf="this.configuration?.components?.includes('Attributes')" header="Attribute"
        [selected]="this.selectedPanel === 'Attributes'">
        <app-entity-attributes [ownerType]="configName" [ownerId]="entryId">
        </app-entity-attributes>
      </p-tabPanel>
    </div>

    <div *ngIf="!this.excludedPanels?.includes('FileAttachments')">
      <p-tabPanel *ngIf="this.configuration?.components?.includes('FileAttachments')" header="Dateianhänge"
        [selected]="this.selectedPanel === 'FileAttachments'">
        <div style="height: 250px">
          <app-entity-file-attachments [ownerType]="configName" [ownerId]="entryId"></app-entity-file-attachments>
        </div>
      </p-tabPanel>
    </div>

    <ng-template ngFor let-subtype [ngForOf]="configuration?.subtypes">
      <p-tabPanel *ngIf="!this.excludedPanels?.includes(subtype)"
        [header]="(getSubTypeHeader(subtype) | async).displayName" [selected]="this.selectedPanel === subtype">
        <app-entity-subtypes [subtype]="subtype" [mainId]="entryId"></app-entity-subtypes>
      </p-tabPanel>
    </ng-template>

    <div *ngIf="!this.excludedPanels?.includes('Actions')">
      <p-tabPanel *ngIf="showActionTab" header="Aktionen" [selected]="this.selectedPanel === 'Actions'">
        <app-right-actions-editor [ownerId]="entryId"></app-right-actions-editor>
      </p-tabPanel>
    </div>

  </p-tabView>
</div>