<div *ngIf="floatLabel; else input" class="ui-float-label" style="height: 40px">
    <ng-container *ngTemplateOutlet="input"></ng-container>
    <label for="float-input">{{floatLabel}}</label>
</div>

<ng-template #input>
    <div>
        <input #pass id="float-input" type="password" autocomplete="off" [ngModel]="value" [placeholder]="placeholder" class="ui-inputtext ui-widget" (input)="passwordChanged(pass.value); propagateChange(pass.value)" pInputText>
        <div [style.background-color]="safetyBarColor" [style.width]="safetyBarWidth" style="height: 4px; transition: 0.5s;"></div>
    </div>
</ng-template>