<div [ngClass]="floatLabel ? 'ui-float-label' : ''">
    <input #pass id="float-input" type="password" autocomplete="off" [(ngModel)]="value" [placeholder]="placeholder" class="ui-inputtext ui-widget"
        [pTooltip]="tooltipText" [ngClass]="((!valid) && value !== '' && value !== undefined && value !== null) ? 'form-field-invalid' : ''" tooltipEvent="focus" (input)="passwordChanged(pass.value); propagateChange(pass.value)" pInputText>
    <div [style.background-color]="safetyBarColor" [style.width]="safetyBarWidth" style="height: 4px; transition: 0.5s;"></div>
    <label *ngIf="floatLabel" for="float-input">{{floatLabel}}</label>
</div>