<div id="layout-right-sidebar" [ngClass]="{'layout-right-sidebar-active': app.rightPanelActive}" (click)="app.onRightPanelClick()">
    <p-scrollPanel #scrollRightPanel [style]="{height: '100%'}">
          <div class="right-panel-scroll-content">
              <p-tabView>
                  <p-tabPanel leftIcon="fa fa-cog">
                      <div class="submenu-title">
                          <span>Settings</span>
                      </div>
                      <div class="submenu-content settings">
                          
                      </div>
                  </p-tabPanel>
              </p-tabView>
          </div>
    </p-scrollPanel>
</div>
