i.pi-user-minus {
    color: slategrey;
    font-size: 2.3em;
    cursor: pointer;
}

i.pi-exclamation-triangle {
    color:red;
    font-size: 2.3em;
}

i.pi-user-plus {
    color: slategrey;
    font-size: 2.3em;
    cursor: pointer;
}

div.resource-name {
    display:flex;
    align-items:center;
}

/* ### BEGIN primeng MultiSelect  */
:host ::ng-deep .ui-multiselected-item-token,
:host ::ng-deep .ui-multiselected-empty-token {
    padding: 2px 4px;
    margin: 0 0.286em 0 0;
    display: inline-block;
    vertical-align:middle;
    height: 1.857em;
}

:host ::ng-deep .ui-multiselect-label-container {
    background:#275885;
    color: #ffffff;
    width: 160px;
    font-weight: bold;            
}

:host ::ng-deep .ui-multiselect-trigger-icon {
    color: #275885;
    font-weight: bold;
}

:host ::ng-deep .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item.ui-state-highlight {
    color: black;
    background-color: white;        
}

:host ::ng-deep .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #275885;
    background-color: #275885;
    color: #ffffff;
}
/* primeng MultiSelect END ### */
