<div (window:resize)="getSchedulerHeights()" [ngStyle]="{'height.px': windowHeight}">

    <!-- https://www.npmjs.com/package/angular-split -->
    <as-split direction="vertical" (dragEnd)="resizeSchedulers($event)" unit="pixel">
        <as-split-area [size]="eventSchedulerHeight">
            <div class="eventScheduler">

                <ejs-schedule [height]="eventSchedulerHeight" [eventSettings]="eventSchedulerObject"
                    [currentView]="setEventSchedulerView" (dragStart)="setDraggingParams($event)"
                    (resizeStart)="setResizeParams($event)" (resizeStop)="updateSchedulerEventInterval($event.data)"
                    (dragStop)="updateSchedulerEventInterval($event.data)" [showQuickInfo]="false"
                    (eventClick)="onSchedulerEventClick($event)" [allowResizing]="true" locale='de'
                    [rowAutoHeight]="true" (eventRendered)="onEventRendered($event)">

                    <e-views>
                        <!-- TimeScaleModel API see https://ej2.syncfusion.com/angular/documentation/api/schedule/timeScaleModel/ -->
                        <e-view option='TimelineDay' startHour='07:00' endHour='18:00'
                            [timeScale]='{ enable: true, slotCount: 2 }'>
                        </e-view>
                        <e-view option='TimelineWorkWeek' startHour='06:00' endHour='18:00'
                            [timeScale]='{ enable: true, interval: 120, slotCount: 2 }' allowVirtualScrolling="true">
                        </e-view>
                        <e-view option='WorkWeek' startHour='09:00' endHour='17:00'
                            [timeScale]='{ enable: true, interval: 120, slotCount: 4 }' allowVirtualScrolling="true">
                        </e-view>
                    </e-views>

                </ejs-schedule>

            </div>
        </as-split-area>

        <as-split-area [size]="'*'">
            <div class="resourceScheduler" *ngIf="showResourceScheduler">
                <p-multiSelect [options]="resourceFilter" [(ngModel)]="currentResourceFilter"
                    [panelStyle]="{minWidth:'20em'}" [displaySelectedLabel]="false" [filter]="false"
                    [defaultLabel]="'Ressourcen filtern'" (onChange)="filterAndDisplayResources($event.value)">
                </p-multiSelect>

                <ejs-schedule [height]=resourceSchedulerHeight allowMultiple="true" [showQuickInfo]="false"
                    [eventSettings]="resourceSchedulerObject" [currentView]="setResourceSchedulerView"
                    [group]="groupData" [rowAutoHeight]="true" [selectedDate]="selectedDateResourceScheduler"
                    [workHours]="schedulerEventTime" [allowDragAndDrop]="false" [allowResizing]="false" locale='de'
                    (eventRendered)="onEventRendered($event)">

                    <e-resources>
                        <e-resource [dataSource]="resourceDataSource" allowMultiple="true" field="ResourceID"
                            title="Mitarbeiter und Ressourcen" name="Resources" textField="Name" idField="Id"
                            stateField='State'>
                        </e-resource>
                    </e-resources>

                    <ng-template #resourceHeaderTemplate let-data>
                        <div class='template-wrap'>
                            <div class="resource-details">
                                <div class="resource-name">
                                    <i title="{{data.resourceData.AssignedAltText}}"
                                        class="{{data.resourceData.AssignedIcon}}"
                                        (click)="modifyAssignment(data.resourceData)"></i>
                                    &nbsp;{{data.resourceData.Name}}&nbsp;
                                    <i title="{{data.resourceData.HasConflictAltText}}"
                                        class="{{data.resourceData.HasConflictIcon}}"></i>
                                </div>
                            </div>
                        </div>
                    </ng-template>

                    <e-views>
                        <!-- TimeScaleModel API see https://ej2.syncfusion.com/angular/documentation/api/schedule/timeScaleModel/ -->
                        <e-view option='TimelineDay' startHour='06:00' endHour='18:00'
                            [timeScale]='{ enable: true, slotCount: 4 }' allowVirtualScrolling="true">
                        </e-view>
                        <e-view option='TimelineWorkWeek' startHour='06:00' endHour='18:00'
                            [timeScale]='{ enable: true, interval: 120, slotCount: 2 }' allowVirtualScrolling="true">
                        </e-view>
                    </e-views>

                </ejs-schedule>
            </div>
        </as-split-area>

    </as-split>

</div>