i.pi-user-minus {
    color: slategrey;
    font-size: 2.3em;
    cursor: pointer;
}

i.pi-exclamation-triangle {
    color:red;
    font-size: 2.3em;
}

i.pi-user-plus {
    color: slategrey;
    font-size: 2.3em;
    cursor: pointer;
}

div.resource-name {
    display:flex;
    align-items:center;
}

/* selected scheduler event  */
::ng-deep div.eventScheduler .e-schedule .e-timeline-view .e-appointment.e-appointment-border, 
::ng-deep div.resourceScheduler .e-schedule .e-timeline-view .e-appointment.selected {
    box-shadow: 0 6px 10px 0 rgb(0, 0, 0, 0.12), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
    outline: 3px solid slategray;
    border-radius: 2px;
    color:#000;
    font-style: italic;
}

/* all scheduler Events */
::ng-deep .e-schedule .e-timeline-view .e-appointment, .e-schedule .e-timeline-month-view .e-appointment {
    border: 1px solid lightgray;
    margin: 0px 0px 1px 0px;
    border-radius: 5px;
    color: #000;       
}

/* ### BEGIN primeng MultiSelect  */
:host ::ng-deep .ui-multiselect {
    margin-top: 10px;
}

:host ::ng-deep .ui-multiselected-item-token,
:host ::ng-deep .ui-multiselected-empty-token {
    padding: 2px 4px;
    margin: 0 0.286em 0 0;
    display: inline-block;
    vertical-align:middle;
    height: 1.857em;
}

:host ::ng-deep .ui-multiselect-label-container {
    background:#0071bc;
    color: #ffffff;
    width: 160px;          
}

:host ::ng-deep .ui-multiselect-trigger-icon {
    color: #0071bc;
    font-weight: bold;
}

:host ::ng-deep .ui-multiselect-panel .ui-multiselect-items .ui-multiselect-item.ui-state-highlight {
    color: black;
    background-color: white;        
}

:host ::ng-deep .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #0071bc;
    background-color: #0071bc;
    color: #ffffff;
}
/* primeng MultiSelect END ### */

/* Split component */
 ::ng-deep .as-split-gutter {
    background-color: white !important;
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    margin-top: 10px;
}

::ng-deep .as-split-gutter.as-dragged .as-split-gutter-icon,
::ng-deep .as-split-gutter-icon:hover {
    opacity: .1;
}