<p-dialog 
  [header]="header" 
  [(visible)]="visible">
  <div>{{description}}</div>
  <div *ngIf="catalogue$ | async as catalogue; else noCatalogue">
    <p-listbox 
      [options]="catalogue.values" 
      [(ngModel)]="selectedItem" 
      (onClick)="selectItem($event)">
    </p-listbox>
    <p-button 
      label="Übernehmen" 
      icon="fa fa-check" 
      (click)="onApplySelection()" 
      [disabled]="!!selectItem">
    </p-button>
  </div>
  <ng-template #noCatalogue>
    ...lade
  </ng-template>
  <p-message *ngIf="showErrMsg" severity="warning" [text]="errMsg"></p-message>
</p-dialog>
