<h3>{{documentTypeForHeader}}</h3>

<p-table [value]=content2>
    <ng-template pTemplate="header">
        <tr>
            <th *ngFor="let col of header">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-attachment> 
        <tr>
            <td *ngFor="let col of header; let i = index">
                {{attachment[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>

<div *ngIf="attachments$ | async as attachments; else noAttachments">
    
    <!-- <div class="p-grid">

    </div>
    <div *ngFor="let key of attachments.getDataKeys()" class="p-col">
        <h5>{{key}}</h5>
    </div> -->

</div>

<ng-template #noAttachments>
    ...keine Anhänge.
</ng-template>


