<div class="ui-g ui-fluid"> 
  <div class="ui-g-12 ui-lg-4">
    <div class="card">
      <h1>Passwort ändern</h1>
      <form #passwordForm="ngForm" (submit)="submit()" class="ui-g ui-fluid">
        <div class="ui-g-12 ui-md-12 form-group">
          <div class="input-wrapper" style="margin-bottom: 14px;">
            <label>Altes Passwort</label>
            <input [required]="true" name="oldpass" type="password" autocomplete="off" [(ngModel)]="oldpass" placeholder="Altes Passwort" class="ui-inputtext ui-widget">
          </div>
          <div class="input-wrapper" style="margin-bottom: 10px;">
            <label>Neues Passwort</label>
            <app-password-input [required]="true" name="newpass" [(ngModel)]="newpass" placeholder="Neues Passwort" [required]="true"></app-password-input>
          </div>
          <div class="input-wrapper" style="margin-bottom: 14px;">
            <label>Passwort wiederholen</label>
            <input [required]="true" tooltipEvent="focus" [pTooltip]="(newpass !== repeatpass && newpass !== '') ? 'Passwords need to match' : ''" 
              [ngClass]="(newpass !== repeatpass && newpass !== '') ? 'input-invalid' : ''" name="repeatpass" type="password" autocomplete="off" 
              [(ngModel)]="repeatpass" placeholder="Neues Passwort" class="ui-inputtext ui-widget">
          </div>

          <button type="submit" label="Speichern" [disabled]="(!passwordForm.valid) || newpass !== repeatpass" pButton icon="fa fa-check"></button>
        </div>
      </form>
    </div>
  </div>
</div>