<p>
  <p-panel styleClass="daily-sales" header="Benutzer hinzufügen">
      
        <form novalidate #form="ngForm" (ngSubmit)="createUser(form)">
            <div class="ui-g form-group p-grid">
            <div class="p-col">
              <span class="ui-float-label">
                  <input name="loginName" ngModel required id="float-input" type="text" size="20" pInputText> 
                  <label for="float-input">Benutzername</label>
              </span>
            </div>
            <div class="p-col">
              <span class="ui-float-label">
                  <input name="email" ngModel required id="float-input" type="text" size="30" pInputText> 
                  <label for="float-input">E-Mail</label>
              </span>
            </div>
            <div class="p-col">
              <span class="ui-float-label">
                  <input name="lastName" ngModel id="float-input" type="text" size="20" pInputText> 
                  <label for="float-input">Nachname</label>
              </span>
            </div>
            <div class="p-col">
              <span class="ui-float-label">
                  <input name="firstName" ngModel id="float-input" type="text" size="20" pInputText> 
                  <label for="float-input">Vorname</label>
              </span>
            </div>
            
          
            <div class="p-col">
              <p-checkbox name="admin" ngModel value="Administrator" label="Administrator"></p-checkbox>
            </div>
            <div class="p-col">
              <p-checkbox name="active" ngModel value="Aktiviert" label="Aktiviert"></p-checkbox>
            </div>

            <div class="p-col">
              <!-- <button type="submit" pButton  [disabled]="!form.valid"  icon="pi pi-user-plus" >Benutzer erstellen</button> -->
              <p-button type="submit" [disabled]="!form.valid"  icon="pi pi-user-plus" iconPos="left" label="Benutzer erstellen"></p-button>
            </div>
          </div>
        </form>
      
  </p-panel>
</p>
