<div>
    <app-dynamic-table [tableData]="data"></app-dynamic-table>
</div>

<div style="padding-top: 15px;">
    <p-panel collapsed="true">
        <p-header>
            <span class="ui-panel-title" style="padding: 8px">Code Snippet Tester</span>
            <button pButton (click)="execute()" icon="pi pi-play"
                class="ui-button-success" style="float: right"></button>
        </p-header>
    </p-panel>

    <div class="content-container" style="height:700px; border: 1px solid #CCCCCC;">
        <div style="height:698px; width: calc(30% - 15px); float:right; margin-right: 15px;">
            <app-script-result [result]="result" [output]="output"></app-script-result>
        </div>
        <div style="height:698px; width: calc(70% - 15px); border-right: 1px solid #CCCCCC;">
            <ace [config]="aceconfig" [(value)]="code" [mode]="python"></ace>
        </div>
        
    </div>
</div>     
