<div *ngIf="displayEntitySelectionDialog_add">
    <p-dialog [header]="header" [draggable]="false" [modal]="true" [(visible)]="displayEntitySelectionDialog_add"
        [style]="{width: '80%'}" appendTo="body">
        <app-dynamic-table *ngIf="entitySelectionTableData" [tableData]="entitySelectionTableData"
            (entitySelection)="entitySelected_add($event, attributeForm)"></app-dynamic-table>
    </p-dialog>
</div>

<div *ngIf="displayEntitySelectionDialog_update">
    <p-dialog [header]="header" [draggable]="false" [modal]="true" [(visible)]="displayEntitySelectionDialog_update"
        [style]="{width: '80%'}" appendTo="body">
        <app-dynamic-table *ngIf="entitySelectionTableData" [tableData]="entitySelectionTableData"
            (entitySelection)="entitySelected_update($event, attributeForm)"></app-dynamic-table>
    </p-dialog>
</div>

<p-dialog header="Attribut hinzufügen" [modal]="true" [(visible)]="displayAddAttribute" [resizable]="false"
    [draggable]="false" [style]="{'width': '400px'}">
    <form (ngSubmit)="addNewAttribute()" #attributeForm="ngForm" class="ui-g">
        <div class="ui-g-12 ui-md-12 form-group">

            <!-- Attribute Name  -->
            <span class="ui-float-label form-group" style="margin-bottom: 25px">
                <p-dropdown required [options]="attrNames" name="Name" [style]="{'width':'100%', 'height': '28px'}"
                    [(ngModel)]="newAttribute.name" [autoDisplayFirst]="false" (onChange)="setType($event.value)">
                </p-dropdown>
                <label for="float-input">Name</label>
            </span>

            <!-- Type should be predefined for attribute groups -->
            <!-- <span class="ui-float-label form-group">
                <p-dropdown required [options]="types" name="Typ" [style]="{'width':'100%', 'height': '28px'}"
                    [(ngModel)]="newAttribute.attributeType" [autoDisplayFirst]="false"></p-dropdown>
                <label for="float-input">Typ</label>
            </span> -->

            <!-- Reference -->
            <div *ngIf="newAttribute.attributeType === 'Reference'">
                <span *ngIf="dtoTypeUnknown" class="ui-float-label form-group">
                    <p-dropdown required [options]="dtoConfigs" name="DTOType"
                        [style]="{'width':'100%', 'height': '28px'}" [(ngModel)]="newAttribute.referenceType"
                        [autoDisplayFirst]="false"></p-dropdown>
                    <label for="float-input">Objekttyp</label>
                </span>

                <span class="ui-float-label form-group" style="margin-top: 25px; margin-bottom: 25px;">
                    <input required name="Wert" [readonly]="true" id="float-input" style="width: calc(100% - 30px)" [(ngModel)]="refDtoRepr" pInputText>
                    <button pButton *ngIf="newAttribute.referenceType" type="button"
                        (click)="openEntitySelectionDialog_add(newAttribute.referenceType)" icon="pi pi-pencil"></button>
                    <label for="float-input" style="top: -.75em; font-size: 12px;">{{newAttribute.referenceType}}</label>
                </span>
            </div>

            <!-- String || Icon -->
            <span class="ui-float-label form-group" style="margin-top: 25px; margin-bottom: 20px"
                *ngIf="newAttribute.attributeType === 'String' || newAttribute.attributeType === 'Icon' || newAttribute.attributeType === undefined">
                <input required name="Wert" id="float-input" type="text" [(ngModel)]="newAttribute.stringValue"
                    style="width: 100%" pInputText>
                <label for="float-input">Wert</label>
            </span>

            <!-- Long -->
            <span class="ui-float-label form-group" style="margin-top: 25px; margin-bottom: 20px"
                *ngIf="newAttribute.attributeType === 'Long'">
                <input required name="Wert" id="float-input" type="number" [(ngModel)]="newAttribute.longValue"
                    style="width: 100%" pInputText>
                <label for="float-input">Wert</label>
            </span>

            <!-- Boolean -->
            <span class="ui-float-label form-group" style="margin-top: 25px; margin-bottom: 20px; height: 26px"
                *ngIf="newAttribute.attributeType === 'Boolean'">
                <p-checkbox name="Wert" binary="true" [(ngModel)]="newAttribute.booleanValue"></p-checkbox>
                <label for="float-input" style="top: -.75em; font-size: 12px;">Wert</label>
            </span>

            <!-- Date -->
            <span class="ui-float-label form-group" style="margin-top: 25px; margin-bottom: 20px"
                *ngIf="newAttribute.attributeType === 'Date'">
                <p-calendar name="Wert" [(ngModel)]="newAttribute.dateValue" showTime="true" dateFormat="dd.mm.yy"
                    [inputStyle]="{'width':'100%'}" [style]="{'width': '100%'}"></p-calendar>
                <label for="float-input">Datum</label>
            </span>

            <!-- Color -->
            <span class="ui-float-label form-group" style="margin-top: 25px; margin-bottom: 20px"
                *ngIf="newAttribute.attributeType === 'Color'">
                <div>
                    <p-colorPicker name="Wert" [(ngModel)]="newAttribute.stringValue"></p-colorPicker>
                    <input required name="Wert" id="float-input" type="text" [(ngModel)]="newAttribute.stringValue"
                        style="width: 92%" pInputText>
                </div>
                <!--label for="float-input">Color</label-->
            </span>

            <div class="ui-g-12 ui-md-12" style="padding: 0px">
                <p-button type="submit" [disabled]="!attributeForm.form.valid" icon="pi pi-user-plus" iconPos="left"
                    label="Erstellen"></p-button>
            </div>
        </div>
    </form>
</p-dialog>

<p-table [value]="attributes" dataKey="id" editMode="row">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Wert</th>
            <th style="width:8em">
                <button pButton type="button" icon="pi pi-plus" class="ui-button-success"
                    (click)="openAddAttributeDialog()"></button>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
        <tr *ngIf="rowData.attributeGroup === attrGroup.hrid" [pEditableRow]="rowData">
            <td>
                {{rowData.name}}
            </td>
            <td>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <p-checkbox *ngIf="rowData.attributeType === 'Boolean'" binary="true" [(ngModel)]="rowData.booleanValue"></p-checkbox>
                        <input *ngIf="rowData.attributeType === 'Long'" pInputText type="number" [(ngModel)]="rowData.longValue" style="width: 100%">
                        <input *ngIf="rowData.attributeType === 'String' || rowData.attributeType === 'Icon'" pInputTexttype="text" [(ngModel)]="rowData.stringValue" style="width: 100%">
                        <p-calendar *ngIf="rowData.attributeType === 'Date'" [showIcon]="true" [(ngModel)]="rowData.dateValue"showTime="true" dateFormat="dd.mm.yy" [inputStyle]="{'width':'calc(100% - 30px)'}" [style]="{'width': '100%'}"></p-calendar>
                        <div *ngIf="rowData.attributeType === 'Color'">
                            <p-colorPicker [(ngModel)]="rowData.stringValue"></p-colorPicker>
                            <input pInputText type="text" [(ngModel)]="rowData.stringValue" style="width: 92%">
                        </div>
                        <span *ngIf="rowData.attributeType === 'Reference'">
                            <input [disabled]="true" name="Wert" style="width: calc(100% - 30px);"[(ngModel)]="rowData.value" pInputText>
                            <button pButton type="button"(click)="openEntitySelectionDialog_update(rowData.referenceType, rowData)"icon="pi pi-pencil"></button>
                        </span>
                    </ng-template>

                    <ng-template pTemplate="output">
                        {{rowData.attributeType === 'String' ? rowData.stringValue : ''}}
                        {{rowData.attributeType === 'Long' ? rowData.longValue : ''}}
                        {{rowData.attributeType === 'Date' ? rowData.dateValue : ''}}                        
                        {{rowData.attributeType === 'Reference' ? rowData.value : ''}}
                        <div *ngIf="rowData.attributeType === 'Icon'">
                            <i class="{{rowData.stringValue}}"  style="font-size: 1.75em"></i>
                        </div>                        
                        <div *ngIf="rowData.attributeType === 'Boolean'">
                            <p-checkbox *ngIf="rowData.attributeType === 'Boolean'" binary="true" readonly="true" [(ngModel)]="rowData.booleanValue"></p-checkbox>
                        </div>
                        <div *ngIf="rowData.attributeType === 'Color'">
                            <input
                                class="ui-colorpicker-preview ui-inputtext ui-state-default ui-corner-all ng-tns-c3-3 ng-star-inserted"
                                readonly="true" type="text" [style.background-color]="rowData.stringValue">
                            {{rowData.stringValue}}
                        </div>
                    </ng-template>
                </p-cellEditor>
            </td>
            <td style="text-align:center">
                <button *ngIf="!editing" id="editButton{{rowData.id}}" pButton type="button" pInitEditableRow 
                    icon="pi pi-pencil" style="margin-right: .5em" class="ui-button-info" (click)="onRowEditInit(rowData)"></button>
                <button *ngIf="!editing" pButton type="button" icon="pi pi-trash" class="ui-button-info"
                    (click)="onRowDelete(rowData)"></button>
                <button *ngIf="editing" pButton type="button" pSaveEditableRow icon="pi pi-check"
                    class="ui-button-success" style="margin-right: .5em" (click)="onRowEditSave(rowData)"></button>
                <button *ngIf="editing" pButton type="button" pCancelEditableRow icon="pi pi-times"
                    class="ui-button-danger" (click)="onRowEditCancel(rowData, ri)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>