/* You can add global styles to this file, and also import other style files */
/*global margins*/
.spacing-top-small {
    margin-top: 10px;
}
.spacing-right-small {
    margin-right: 10px;
}
.spacing-bottom-small {
    margin-bottom: 10px;
}
.spacing-left-small {
    margin-left: 10px;
}

.grid-row-background-even {
    background-color: #f0f6ff;
}

.btnSpacing {
    margin-right: 10px; 
}

.flexgrid-header {
    font-weight: bold;
    font-size: 13px;
}

.flexgrid-segment {
    font-weight: bold;
    font-size: 12px;
}

.flexgrid-odd-line {
    background-color: #f2f5fa;
}