<p-tabView *ngIf="categories" [style]="{'margin-bottom':'15px'}">
  <ng-template ngFor let-category [ngForOf]="categories" let-i="index"> 
    <p-tabPanel [header]="category.displayName" [selected]="this.selectedPanel === category.attachmentCatHrid">
      <div class="ui-g ui-fluid">
        <app-dynamic-table style="padding: 0px" *ngIf="fileTableData" [tableData]="fileTableData[i]" [mainId]="ownerId" [mainType]="ownerType" [attachmentCategory]="category.attachmentCatHrid"></app-dynamic-table>
      </div>
    </p-tabPanel> 
  </ng-template>
</p-tabView> 

<div *ngIf="(!categories) && fileTableData" class="ui-g ui-fluid">
  <app-dynamic-table style="padding: 0px" [tableData]="fileTableData[0]" [mainId]="ownerId" [mainType]="ownerType"></app-dynamic-table>
</div>