<div style="padding:15px;font-family:Verdana, Geneva, Tahoma, sans-serif;font-size: 12px;">
    <div
        style="width:100%;box-sizing: border-box;float:left;padding-top: 15px; height:60px; border-top: 1px solid silver ; color:slategray;">
        <div style="width:30%; line-height:40px; float:left; margin-left: 20px; font-size: 20px;"><img
                src="assets/layout/images/logo_textonly_grey.png" style="height:40px;" alt="california-layout" /></div>
        <div style="width:30%; float:left; text-align:center">{{company.name}}<br>{{company.street}},
            {{company.city}}<br>{{company.email}}</div>
        <div style="width:30%; float:right; text-align:right; margin-right: 20px;">
            {{uiDetails}}<br>{{beDetails}}
        </div>
    </div>
</div>

<!-- <div style="padding:15px;">
    <div
        style="width: 100%;box-sizing: border-box;float:left;padding: 10px 10px; height:60px; color:white;background: rgb(38,84,129);background: linear-gradient(90deg, rgba(38,84,129,1) 0%, rgba(18,46,81,1) 100%); ">
        <div style="width:30%; line-height:40px; float:left; margin-left: 20px;"><img
                src="assets/layout/images/logo_textonly_white.png" style="height:40px;" alt="california-layout" /></div>
        <div style="width:30%; float:left; text-align:center">{{company.name}}<br>{{company.street}},
            {{company.city}}</div>
        <div style="width:30%; float:right; text-align:right; margin-right: 20px;">{{uiDetails}}<br>{{beDetails}}
        </div>
    </div> 
</div> -->