<p-dialog header="Entity Auswahl" [draggable]="false" [modal]="true" [(visible)]="displayEntitySelectionDialog" [style]="{width: '80%'}" appendTo="body">
  <app-dynamic-table *ngIf="entitySelectionTableData" [tableData]="entitySelectionTableData" [$selectedEntryId]="$selectedEntity"></app-dynamic-table>
</p-dialog>

<form (ngSubmit)="onSubmit(entityForm)" #entityForm="ngForm" class="ui-g">
  <div class="ui-g-12 ui-md-12 form-group">
    <div *ngFor="let field of configuration.fields">
      <div [ngSwitch]="field.type" *ngIf="(field.mandatory && !update) || field.editable" class="p-col form-group ui-g-12 ui-md-12" style="margin-bottom: 5px">
        <span *ngSwitchCase="'String'" class="ui-float-label">
          <input [required]="field.mandatory" [name]="field.header" [ngModel]="update ? entity[field.header] : ''" id="float-input" type="text" style="width: 100%" pInputText> 
          <label for="float-input">{{field.header}}</label>
        </span>
        <span *ngSwitchCase="'int'" class="ui-float-label">
          <input [required]="field.mandatory" [name]="field.header" [ngModel]="update ? entity[field.header] : ''" id="float-input" type="number" style="width: 100%" pInputText> 
          <label for="float-input">{{field.header}}</label>
        </span>
        <span *ngSwitchCase="'boolean'">
          <p-checkbox [required]="field.mandatory" [name]="field.header" [binary]="true" [label]="field.header" [ngModel]="update ? entity[field.header] : false"></p-checkbox>
        </span>
        <span *ngSwitchCase="'Date'">
          {{field.header}}
          <p-calendar [required]="field.mandatory" [name]="field.header" showTime="true" hourFormat="24" dateFormat="dd.mm.yy" [ngModel]="update ? entity[field.header] : undefined"></p-calendar>
        </span>
        <span *ngSwitchCase="'CatalogueEntry'">
          <p-dropdown [required]="field.mandatory" [name]="field.header" [options]="catalogueOptions.get(field.defaultCatalogue)" optionLabel="name" [ngModel]="update ? entity[field.header] : undefined"></p-dropdown>
        </span>
        <span *ngSwitchDefault class="ui-float-label" style="margin-top: 15px;">
          <input #in [required]="field.mandatory" [name]="field.header" [ngModel]="update ? entity[field.header] : undefined" id="float-input" type="number" style="width: 60px" pInputText>
          <button pButton type="button" (click)="openEntitySelectionDialog(field, entityForm, in)" icon="pi pi-pencil"></button>
          <label for="float-input" style="top: -.75em; font-size: 12px;">{{field.header}}</label>
        </span>
      </div>
    </div>

    <div class="ui-g-12 ui-md-12">
      <p-button type="submit" [disabled]="!entityForm.form.valid" icon="pi pi-user-plus" iconPos="left" [label]="update ? 'Speichern' : 'Erstellen'"></p-button>
    </div>
  </div>
</form>