input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}


/* 
If a field is required (mandatory) and empty => invalid
If a field is not required and empty => valid
*/
input:invalid {
    background-color: #f8ece8;
}

::ng-deep p-calendar.ng-invalid .ui-inputtext {
    background-color: #f8ece8;
}

::ng-deep p-dropdown.ng-invalid label {
    background-color: #f8ece8;
}